
<ion-view id="home" view-title="Welcome">
  <ion-content>
    <div class="list">
      <div ui-sref="meeting" id="btn-meeting" class="item">
        <h1>Meeting</h1>
        <p>With someone here</p>
      </div>
      <div ui-sref="delivery" id="btn-delivery" class="item">
        <h1>Delivery</h1>
        <p>To be dropped off</p>
      </div>
      <div ui-sref="general" id="btn-help" class="item">
        <h1>Help me</h1>
        <p>I don't know where I am</p>
      </div>
    </div>
  </ion-content>
</ion-view>