
<ion-view view-title="Reviews">
  <ion-header-bar class="bar bar-subheader input-bar-header">
    <div class="input-comment padding-left">
      <input type="text" ng-model="userComment" placeholder="Write a review..."/>
    </div>
    <button ng-click="sendComment(userComment)" class="input-comment-button button button-small">Post</button>
  </ion-header-bar>
  <ion-content>
    <div ng-repeat="comment in comments" class="item light-color-scheme">
      <div class="comment-block">
        <p>@{{comment.user.username}}</p>
        <p>{{comment.comment}}</p>
      </div>
      <div class="comment-vote"><a ng-click="upVoteComment(comment.commentId)" class="button button-small button-icon icon ion-arrow-up-b"></a><a ng-click="downVoteComment(comment.commentId)" class="button button-small button-icon icon ion-arrow-down-b"></a></div>
    </div>
  </ion-content>
</ion-view>