
<ion-view id="posts" view-title="Teasr">
  <ion-nav-bar>
    <ion-nav-buttons side="left"><span class="search"><i class="icon ion-search"></i></span></ion-nav-buttons>
    <ion-nav-buttons side="right"><span class="bookmark"><i ng-click="bookmarkFilterToggle()" ng-class="[{'ion-ios-star': bookmarkFilter}, {'ion-ios-star-outline': !bookmarkFilter}]" class="icon assertive"></i></span></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list post-list">
      <div ng-repeat="item in items track by $index" in-view="isInView($index, $inview, $inviewpart)">
        <div class="item item-avatar item-icon-right light-color-scheme"><img ng-if="item.type == 'netflix'" src="img/netflix.jpg"/><img ng-if="item.type == 'theatre'" src="img/cineplex.jpg"/><img ng-if="item.type == 'hulu'" src="img/hulu.jpg"/>
          <h2>{{item.title}}</h2>
          <p class="lighten"><span am-time-ago="(item.publishDate / 1000) | amFromUnix" class="time"></span><span ng-if="item.releaseDate">&nbsp;| Release: {{item.releaseDate | amDateFormat:'MMMM Do YYYY'}}</span></p><a ng-click="setBookmark(item.id)" ng-class="isBookmarked(item.id)" class="button button-small button-icon icon assertive"></a>
        </div>
        <div class="item item-image light-color-scheme"><img ng-src="{{item.posterImg}}" ng-click="enableVideo(item.youtubeId)" class="full-image"/>
        </div>
        <div class="item extra light-color-scheme">
          <div class="float-left"><a href="#/tab/posts/{{item.id}}" class="button-small button button-icon icon ion-ios-chatbubble"><span ng-if="comments[item.id].total" class="lighten">{{comments[item.id].total}}</span></a><a ng-click="downVote(item.id)" class="spacer-left button button-small button-icon icon ion-arrow-down-b"></a><a ng-click="upVote(item.id)" class="button button-small button-icon icon ion-arrow-up-b"><span class="lighten">{{calculateVoteTotal(item.id)}}</span></a><a class="spacer-left button button-small button-icon icon ion-ios-redo"></a></div>
          <div class="float-right"><a ng-click="moreOptions()" class="button button-small button-icon icon ion-ios-information"></a></div>
          <div class="clearfix"></div>
          <p ng-if="comments[item.id]" ng-repeat="comment in comments[item.id].comments|limitTo:3" class="comment"><span class="user">@{{comment.user.username}}</span><span class="comment lighten">{{comment.comment}}</span>
            <div class="clearfix"></div>
          </p>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>
  </ion-content>
</ion-view>