
<ion-view>
  <div class="bar bar-header">
    <h1 class="title">Profile</h1>
  </div>
  <ion-content>
    <p class="center profile"><img ng-src="{{ProfileData.profilePicture || 'img/ionic.png'}}"/></p>
    <ion-list>
      <!-- Profile-->
      <ion-item class="item item-divider">Profile<span class="item-note">
          <ion-spinner ng-show="status.loadingProfile" class="spinner-small"></ion-spinner></span></ion-item>
      <ion-item ng-click="changeUsername()">Username<span class="item-note">{{ProfileData.meta.username || 'Not set!'}}</span></ion-item>
      <ion-item ng-click="changeProfilePicture()">Profile picture</ion-item>
    </ion-list>
    <label class="item">
      <button type="submit" ng-click="finishSetProfile()" class="button button-block button-stable">Finish</button>
    </label>
  </ion-content>
</ion-view>