ion-view#delivery(view-title='Instructions')
  ion-content
    .item
      h1 Instructions
      p Someone will be with you shortly to sign for the package.
      p Please drop small packages in the cabinet below,
      p larger packages can be placed next to the couch.
      p Thank you!
