#delivery
  ion-content
    background: #3A3335
  h1, p
    text-align: center
  h1
    font-size: 4rem
    color: white
    font-family: 'Lobster'
    line-height: 5rem
    margin-bottom: 0
  .item
    padding: 250px
    border: none
    background: none
    p
      color: white
