ion-view#meeting(view-title='Directory')
  ion-content
    .list
      .item.item-divider(ng-if="recentDir && recentDir.length") Recent
      .item(ng-repeat="employee in recentDir" ui-sref = "meeting-thanks" ng-click = "pingEmployee(employee)")
        img(ng-if="employee.profile.image_512" ng-src="{{employee.profile.image_512}}")
        img(ng-if="!employee.profile.image_512" src="/img/default.jpg")
        h2 {{employee.profile.real_name}}
        p {{employee.profile.title}}
      svg#big-trangle(xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 100 100', preserveaspectratio='none')
        path(d='M0 0 L50 100 L100 0 Z')
      #full-directory
        .item.item-divider Full Directory
        .item(ng-repeat="employee in companyDir" ui-sref = "meeting-thanks" ng-click = "pingEmployee(employee)")
          img(ng-if="employee.profile.image_512" ng-src="{{employee.profile.image_512}}")
          img(ng-if="!employee.profile.image_512" src="/img/default.jpg")
          h2 {{employee.profile.real_name}}
          p {{employee.profile.title}}
