#meeting
  .item
    width: 20%
    display: inline-block
    text-align: center
    border: none
    background: none
  .item-divider
    width: 100%
    padding: 10px
    padding-top: 40px
    font-size: 4rem
    color: #CF5C36
    font-family: 'Lobster'
    line-height: 5rem
  img
    border-radius: 50%
    max-width: 100px
    max-height: 100px
  h2
    padding-top: 10px
  #full-directory
    background: #EEE
    margin-top: 30px
    .item-divider
      margin-top: 80px
      padding-top: 0
  #big-trangle
    position: relative
    top: 80px
    fill: white
    margin-top: -40px
    height: 50px
    width: 100px
    left: calc(50% - 50px)
