#home
  .item
    height: 222px
    border: none
    color: white
    text-align: center
    padding-top: 60px
    i
      font-size: 4rem
    p
      color: white
    h1
      color: white
      font-size: 4rem
      font-family: 'Lobster'
      padding: 0
      margin: 0
#btn-meeting
  background: #CF5C36
#btn-delivery
  background: #3A3335
#btn-help
  background: #C6D8D3
